* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.5;
}

.start {
    background-color: rgb(236, 242, 247);
    
}

.start h3 {
    text-align: right;
    display: inline-block;
    padding: 10px;
}

header {
    background-color: white;
    
}

.lap {
    display: inline-block;
    color: rgb(49, 169, 225);
}

header input {
    border-radius: 15px;
    padding: 3px 305px 3px 0;
    margin: 0 20px 0 20px ;
}

